<h1>All Actors</h1>

<p>
  <a href= "/actors/new"> Add a new actor  </a>  
   
</p>


<ul>
  
  <% @actors.each do |the_item| %>
 
   <img src= "<%= the_item.image_url %>">
   
   <br>
    <%= the_item.name %>
    <br>
     <%= the_item.dob %>
     <br>
     <%= the_item.bio %>

  <br/>

 <a href= "/actors/<%= the_item.id %>">Show Details</a>

 

   <br>

  <a href= "/actors/<%= the_item.id %>/edit">Edit</a>
  <br>
  
  <a href= "/delete_actors/<%= the_item.id %>">Delete</a>
  <br>
  
  <% end %>
</ul>




